body
{
    background-color: rgb(0, 43, 54);

    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

#settingsNoteContainer
{
    position: absolute;
    width: 100%;
    bottom: 4px;
    left: 0;
    right: 0;
}

#settingsNote
{
    color: rgb(200, 240, 255);
    text-align: center;
}

.fieldSet
{
    border: 2px solid;
    border-color: rgb(100, 165, 175);
    height: 100%;
    margin: 0 0 8px;
}

.legend
{
    color: rgb(200, 240, 255);
}

.label
{
    color: rgb(200, 240, 255);
}

#hasteReturn
{
    margin-right: 4px;
}

#choiceSize
{
    display: inline-block;
}

#choiceTheme
{
    display: inline-block;
}

#historyList
{
    list-style-type:none;
    padding: 0;
    margin: 0;
}

.historyListItem
{
    background-color: rgb(0, 55, 65);
    padding: 4px;
    margin-top: 2px;
}

.historyListItemLink
{
    padding-left: 2px;
}

.historyListItemLinkRemove
{
    float: right;
}

#content
{
    margin-right: 4px;
    display: block;
}

#hasteContent
{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 43, 54);
    color: white;
    /*border: 1px solid;*/
    border: none;
    outline: none;
    resize: none;

    margin-bottom: 4px;
}

::-webkit-input-placeholder
{
    color: white;
}